html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	flex: auto;
}

body {
	padding: 0 15vw;
}

header, main, footer {
	margin: 2vh 0;
}

header {
	margin-top: 0;
}

header, main {
	border: 1px solid black;
}

img#headerLogo {
	padding: 1rem;
}

main  input[type=button], main input[type=submit] {
	display: block;
	margin: 1em;
}

.error {
	color: rgb(255, 0, 0);
}

.confirm {
	display: inline;
	color: rgb(0, 255, 0);
	font: bold;
}

.recent {
	color: rgb(0, 255, 0);
	font: bold;
}

.old {
}